@charset "UTF-8";

html {
    font-family: 'BIZ UDMincho', serif;
    font-size: 100%;
    scroll-padding-top: 175px;
    
}
body {
    margin: 0 10px;
    font-size: 1.1rem;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    line-height: 1.5;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
}   
h2 {
    font-size: 35px;
    line-height: 1.5;
}
h3 {
    font-size: 30px;
}
.head3 p, nav {
    font-weight: bold;
}
.sub-menu {
    font-size: 18px;
}
/*ヘッダー*/
.top {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 0;
    background-color: #fff;
    z-index: 2;
}
.head1, .head2, .head3, .w-900, .font-size, .size, dl, .footer-flex{
    display: flex;
}
.head1 {
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
.head2 {
    flex-direction: column;
}
.head3 {
    align-items: flex-end;
    margin-bottom: 10px;
}
.head3 .go-sitemap {
    color: #000;
}
.head3 .font-size, .size {
    align-items: flex-end;
}
.head3 .size .midium {
    font-size: 20px;
}
.head3 .size .big {
    font-size: 23px;   
}
.head3 p {
    margin-right: 1.1rem;
}
.head3 .size  button{
    display: inline-block;
    margin-right: 10px;
    padding: 3px;
    background-color: #00f;
    color: #fff;
}
.head3 .size .big {
    margin-right: 0;
}

/*検索フォーム*/
#search {
    margin: 0 0 0 auto;
    width: 70%;
    text-align: center;   
}
.search {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    padding: 7px;
    background: rgba(213, 207, 207, 0.3);
}
input[type="text"], input[type="submit"]{
    padding: 3px;
    border: 1px solid #000;
}
input[type="text"] {
    width: 75%;
    padding-left: 5px;
    padding-right: 5px;
}
#search input[type="submit"] {
    width: 20%;
    background: center center url(../img/svg/serch.svg) no-repeat;
    background-size: 20px 20px;
}
/*TOPナビゲーション*/
nav .menu { 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(179, 179, 179, 0.1);
    z-index: 99;
}
.menu .main-menu, #sitemap .menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 1.2;
}
.menu li span {
    color: #07f;
    transition: 0.5s;
}
.menu > :nth-child(4) span {
    color:#ef9206;
}
.menu li:hover span {
    color: #ef9206;
}
.menu .main-menu:first-child {
    border-left: 3px dotted #000;
}
.menu .main-menu:last-child,.menu .main-menu:not(:last-child){
    border-right: 3px dotted #000;
}
.menu li a {
    display: block;
    width: 100%;
    position: relative;
    padding: 10px 20px 5px;
    text-decoration: none;
    color: #000;
    z-index: 2;
}

/*ドロップダウン*/
#nav .main-menu .drop-down {
    list-style-type: none; 
    position: absolute;
    left:0;
    top:55px;
    width: 100%;
    display: block;
    background:rgb(230, 247, 226);
}
#nav .main-menu .drop-down .drop-link {
    display: block;
    padding: 0 20px;
    line-height: 0;
    transform: scaleY(0);
    transition: 0.3s padding, 0.3s line-height, 0.3s transform;
}
/*ドロップダウンリスト出現時のスタイル*/
#nav .main-menu .drop-down .drop-link.is-active {
    padding: 10px 20px;
    line-height: 1.2;
    transform: scaleY(1);
}
#nav .main-menu .drop-down .drop-menu:hover {
    background: #03af00;
}
.drop-link:hover {
    display: inline-block;
    color: #ffffff;
}
/*パンくずリスト*/
.pankuzu {
    margin: 20px 30px;
    display: flex;
    list-style-type: none;
    font-size: 17px;
}
.pankuzu li {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #38a45f;
    margin-right: 10px;

}
.pankuzu a {
    color: #38a45f;
}
.pankuzu li:not(:last-child)::after {
    content:"";
    display: block;
    width: 10px;
    height:10px;
    margin-left: 0.5rem;
    border-top: 2px solid #38a45f;
    border-right: 2px solid #38a45f;
    transform: rotate(45deg);  
}
/*メインエリア*/
main {
    margin: 150px auto 20px;
    padding: 20px 0;
}
footer {
    margin: 30px auto 30px;    
}
#contact {
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
    text-align: center;
}
.text {
    background-color: rgba(213, 207, 207, 0.3);
}
#contact .p-title {
    background-color: #38a45f;
    width: 80%;
    font-size: 55px;
}
#contact .text {
    width: 80%;
    padding: 20px;
    line-height: 2;
    text-align: left;
    text-indent: 1rem;
}
#contact .text, .title, #tel {
    margin: 30px auto;
}
#contact .text p, #tel {
    width: 80%;
    padding: 0 10px;
    margin: auto;
}
dl {
padding: 20px 20px 0;
justify-content: center;
}
.inline-block {
    display: inline-block;
}
/*背景色、文字色変化*/
#question .title {
    background: #048433;
    color: #fff;
}
.title {
    width: 80%;
    padding: 0 ;
    line-height: 1.5;
    text-align: center;
}
.title:hover {
    color: #fff;
}
/*よくある質問*/
#question h2 {
    width: 80%;
    margin: auto;
    text-align: left;
}
#question .title, #question .text {
    margin: 0 auto;
}
/*ポップアップ*/
#question {
    width: 80%;
}
#question h2 {
    width: 100%;
}
#question .title {
    margin: 30px auto 0;
    width: 100%;
}
#question .pop-up.title {
    display: block;
    font-size: 30px;
    font-weight: bold;
}
#pop-up {
    width: 100%;
}
#pop-up-check, #pop-up-check1, #pop-up-check2 {
    display: none;
}
.pop-up:hover {
    cursor: pointer;
}
.pop-up-item {
    display: none;
}
#pop-up-check:checked ~ .pop-up-item, #pop-up-check1:checked ~ .pop-up-item, #pop-up-check2:checked ~ .pop-up-item {
    display: block;
}
#question .width .text {
    width: 100%;
}
#question .title span {
    display: inline-block;
}

/*メールフォーム*/
#form {
    width: 80%;
    margin-bottom: 80px;
}
.form {
    margin: 20px auto ;
    padding: 20px;
    width: 80%;
   
}
.form table {
   
    border-collapse: collapse;
    width: 100%;
} 
.table-row {
    display: none;
}
.form th {
    width: 20rem;
    text-align: justify;
    text-align-last: justify;
}
.form th, .form td {
    padding: 10px;
    background-color: #d4efda ;
    font-weight: normal;
    font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro", sans-serif;
}
.form span {
    display: inline-block;
    width: fit-content;
    
}
.form tr:not(:last-child) {
    border-bottom: 1px solid #000;
}
.form tr:nth-last-child(2) {
    border-bottom: none;
}
.form input[type="text"], .form input[type="email"], .form input[type="tel"], .form select, .form textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px dashed #000;
    border-radius: 3px;
   
}
.form input[type="text"]:focus, .form input[type="email"]:focus, .form input[type="tel"]:focus, .form textarea:focus {
    border: 1px solid #38a45f;
    border-left: 8px solid #38a45f;
    background-color: #fff;
}
#form tr:nth-of-type(4) td{
    border-bottom: 1px dashed #38a45f;
} 
form tr:nth-of-type(5) td{
    border-top: 1px dashed #38a45f ;
}
#form tr:nth-of-type(5) th, #form tr:last-of-type td{
    height: 150px;
    padding-top: 20px;
}
#form p {
    margin-top: 10px;
    font-size: 1rem;
    
}
.required {
    color: red;
}
.checkbox {
    margin: 50px 0;
    text-align: center; 
}
.checkbox p {
    margin-bottom: 30px;
}
.link a {
    color: rgb(0, 55, 255);
}
input[type="checkbox"] {
    transform: scale(1.4, 1.4);
}
.checkbox span {
    display: inline-block;
    margin-left: 20px;
}
.button, input, select, textarea, label {
    cursor: pointer;
}
.form .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 150px;
    height: 75px;
    background: #048433;
    border: 10px outset #048433;
    border-radius: 5px;
}
.form .button:hover {
    background: #00762b;
    border: 10px outset #00792d;
}
.form input[type="submit"] {
    border: none;
    color: #fff;
    font-size: 30px;
}
/*矢印移動*/
.title a::after {
    content: "\02192";
    position:absolute;
    right: 5%;
    top: 50%;
    font-weight: bold;
    transform: translate(0, -50%);
    transition: 0.5s;
}
.title a:hover::after {
    transform: translate(100%, -50%);
}

/*サイトマップ*/
#sitemap {
    margin-bottom: 30px;
    padding: 20px ;
    background: #d4efda;
}
#sitemap a{
    padding: 5px 0; 
}
#sitemap h2{
    padding: 20px;
}
#sitemap .menu {
    background: none;
}
#sitemap .menu li {
    width: 18%;
    border: none;
}
#sitemap .menu li::after {
    display: none;
}
.sitemap {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;  
}

.sitemap .sub-menu {
    width: 18%;
    list-style: none;
    text-align: center;
}
#sitemap .menu li, .sitemap .sub-menu li{
    border-bottom: 2px solid #000;
    color: #000;  
}
.sitemap .sub-menu li {
    padding-top: 10px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    text-align: left;

}
#sitemap .menu li:hover, .sitemap .sub-menu li:hover {
    background-color: #03af00;
}
.sitemap .sub-menu a {
    width: 100%;
    display: block;
    text-indent: 0.5rem;
    color: #000;  
}
#sitemap .menu a:hover, .sitemap .sub-menu a:hover {
    color: #fff;
}
.sub-menu a {
    display:flex;
    flex-wrap: wrap;
    }
/*footer*/
.footer .rogo, .footer .head2, .footer .icon {
    width: 25%;
}
.footer .head3 {
    align-items: center;
}
.footer-flex {
    width: 57.5%;
    justify-content: space-between;
    align-items: center;
}
.icon p {
    height: 60px;
}
.icon-facebook {
    padding-bottom: 10px;
}
/*Topへ戻るボタン*/
.top-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #38a45f;
    opacity: 0.2;
    transition: 0.5s opacity ;  
}
.top-page a {
    font-size: 1rem;
}
.top-page:hover {
   opacity: 1;
   background: #38a45f;
}
.top-page:hover a {
    color: #fff;
}
/*アイコンフォント*/
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?1eiqnp');
    src:  url('fonts/icomoon.eot?1eiqnp#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?1eiqnp') format('truetype'),
      url('fonts/icomoon.woff?1eiqnp') format('woff'),
      url('fonts/icomoon.svg?1eiqnp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-facebook:before {
    content: "\ea90";
  }
.icon .icon-facebook:before {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-top: 0;
    border-radius: 50%;
    color: #fff;
    background-color: #004aad;
    font-size: 30px;
  }
  /*レスポンシブ対応*/
/*ハンバーガーメニュー*/
#menu-btn-check, .hamburger-menu {
    display: none;
}
/*レスポンシブ用ボタン*/
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: 1rem;
    height: 45px;
    width: 45px;
    z-index: 90;
    background-color: #000;
    display: none;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    top: 8px;
}
.menu-btn span:after {
   bottom: 8px;
}
.menu-btn:hover {
    cursor: pointer;
}
#menu-btn-check:checked ~ .menu-btn {
    background-color: rgba(0, 0, 0, 0);
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span:before {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check:checked ~ .menu-btn span:after {
    bottom: 0;
    transform: rotate(45deg);
}
.hamburger-menu {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 180px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translate(0, -101%);
    transition: all 0.5s;
}
#menu-btn-check:checked ~ .hamburger-menu {
    transform: translate(0, 0);
}
.hamburger-menu ul {
    padding: 55px 10px 20px;
}
.hamburger-menu ul li {
    margin: 0 auto;
    width: 95%;
    border-bottom: 2px solid #fff;
    padding: 5px 5px 3px;
    list-style: none;
    margin-top: 1rem;
}  
.hamburger-menu ul li a {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    color: #fff;
} 
.hamburger-menu ul li a:hover {
    color:#04c701;  
    text-decoration: none;  
}

@media screen and (max-width: 1200px) {
   .form {
    width: 100%;
   }
   #sitemap .sub-menu span {
    display: inline-block;
}
}
@media screen and (max-width: 900px) {
    .go-sitemap, #nav, #sitemap, li a::after, .title::after,.title a::after {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
    #search {
        margin-left: 0.5rem;
        width: 90%;
    }
    .pankuzu {
        display: none;
    }
    main {
        margin: 90px auto 20px;
        padding: 10px;
    }
    /*問い合わせフォーム*/
    #contact .p-title {
        font-size: 50px;
        width: 90%;
    }
    .table-row {
        display: table-row;
    }
    .table-head {
        display: none;
    }
    #form {
        width: 90%;
    }
    .form {
        margin: 0 auto;
    }
    .form th {
        text-align: center;
        text-align-last: auto;
    }
    #form tr:nth-of-type(5) th {
        height: auto;
    }
    #form tr:nth-child(8){
        border-bottom: none;
    }
    #form tr:last-of-type td {
        height: 200px;
    }

    #sitemap {
        display: none;
    }
    #question {
        width: 90%;
    }
 } 
@media screen and (max-width: 690px) {
    h1 {
            font-size: 45px;
            line-height: 1.3;
    }
    h2 {
        font-size: 30px;
    }
    h2 span {
        display: block;
    }
    .font-size {
        display: none;
    }
    .menu-btn {
        top: 8px;
    }
    .pankuzu {
        display: none;
    }
    
    #search {
    margin-left: 0.5rem;
    width: 100%;
    }
    main {
        margin: 60px auto 20px;;
    }
    #contact {
        padding: 0;
    }
    #contact .p-title {
        font-size: 35px;
    }
    #contact .p-title, #form, #contact .text, #question h2, #question .title {
        width: 100%;
    }
    #contact .text p {
        width: 100%;
        margin: 0;
    }
    #question h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .pop-up-item {
        display: block;
    }
    .title {
        margin: 15px auto;
    }
    #question {
        width: 100%;
    }
    .footer {
        flex-direction: column;
    }
    .footer-flex {
        width: 100%;
        margin-top: 50px;
        justify-content: space-around;
        align-items: center;
        order: 1;

    }
    .footer-flex .rogo {
        align-items: center;
    }
    .footer-flex .head2 {
        flex-direction: row;
        width: 60%;
    }
    .footer-flex .head2 p img {
        vertical-align: middle;
        transform: scale(1.2, 2.5);
    }
    .footer-flex .head3 { 
        margin-bottom: 0;
        margin-right: 1.6rem;
    }
    .footer-flex .head3 p img {
        transform: scale(1.2, 3);
    }
    .mail {
        margin-left: 0.5rem;
        transform: scaleX(1.2)
    }
    .footer .icon {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .top-page {
        position: static;
    }
}
@media screen and (max-width: 300px) {
    body {
        margin: 0;
    }
    #search {
        display: none;
    }
}