@charset "UTF-8";

html {
    font-family: 'BIZ UDMincho', serif;
    font-size: 100%;
    scroll-padding-top: 175px;
    
}
body {
    margin: 0 10px;
    font-size: 1.1rem;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    line-height: 1.5;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
}   
h2 {
    font-size: 35px;
    line-height: 1.5;
}
h3 {
    font-size: 30px;
}
.head3 p, nav {
    font-weight: bold;
}
.sub-menu {
    font-size: 18px;
}
/*ヘッダー*/
.top {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 0;
    background-color: #fff;
    z-index: 2;
}
.head1, .head2, .head3, .w-900, .font-size, .size, .footer-flex{
    display: flex;
}
.head1 {
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
.head2 {
    flex-direction: column;
}
.head3 {
    align-items: flex-end;
    margin-bottom: 10px;
}
.head3 .go-sitemap {
    color: #000;
}
.head3 .font-size, .size {
    align-items: flex-end;
}
.head3 .size .midium {
    font-size: 20px;
}
.head3 .size .big {
    font-size: 23px;   
}
.head3 p {
    margin-right: 1.1rem;
}
.head3 .size  button{
    display: inline-block;
    margin-right: 10px;
    padding: 3px;
    background-color: #00f;
    color: #fff;
}
.head3 .size .big {
    margin-right: 0;
}

/*検索フォーム*/
#search {
    margin: 0 0 0 auto;
    width: 70%;
    text-align: center;   
}
.search {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    padding: 7px;
    background: rgba(213, 207, 207, 0.3);
}
input[type="text"], input[type="submit"]{
    padding: 3px;
    border: 1px solid #000;
}
input[type="text"] {
    width: 75%;
    padding-left: 5px;
    padding-right: 5px;
}
input[type="submit"] {
    width: 20%;
    background: center center url(../img/svg/serch.svg) no-repeat;
    background-size: 20px 20px;
}
/*TOPナビゲーション*/
nav .menu { 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(179, 179, 179, 0.1);
    z-index: 99;
}
.menu .main-menu, #sitemap .menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 1.2;
}
.menu li span {
    color: #07f;
    transition: 0.5s;
}
.menu li:hover span {
    color: #ef9206;
}
.menu .main-menu:first-child {
    border-left: 3px dotted #000;
}
.menu .main-menu:last-child {
    border-right: 3px dotted #000;
}
.menu .main-menu:not(:last-child) {
    border-right: 3px dotted #000;
}
.menu li a {
    display: block;
    width: 100%;
    position: relative;
    padding: 10px 20px 5px;
    text-decoration: none;
    color: #000;
    z-index: 2;
}
/*ドロップダウン*/
#nav .main-menu .drop-down {
    list-style-type: none; 
    position: absolute;
    left:0;
    top:55px;
    width: 100%;
    display: block;
    background:rgb(230, 247, 226);
}

#nav .main-menu .drop-down .drop-link {
    display: block;
    padding: 0 20px;
    line-height: 0;
    transform: scaleY(0);
    transition: 0.3s padding, 0.3s line-height, 0.3s transform;
}
/*ドロップダウンリスト出現時のスタイル*/
#nav .main-menu .drop-down .drop-link.is-active {
    padding: 10px 20px;
    line-height: 1.2;
    transform: scaleY(1);
}
#nav .main-menu .drop-down .drop-menu:hover {
    background: #03af00;
}
.drop-link:hover {
    display: inline-block;
    color: #ffffff;
}
/*ページトップ画像*/

.message {
    position: relative;
    width: 90%;
    margin: 0 auto;
}
#bigimg {
    width: 100%;
    height: 80vh;
    border-radius: 30px;
    object-fit: cover;
    object-position: 0 35%;
}
.top-message {
   position: absolute;
   right: 5%;
   top: 50%;
   transform: translate(-10%, -50%);
   animation: 4s fadein forwards;
}
/*文字の浮き上がり*/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*メインエリア*/
main {
    margin: 150px auto 20px;
    padding: 20px 0;
}
#main, #news, .catch, .introduction {
    margin: 60px auto;    
}
#main {
    padding: 20px 0;
    background: rgba(213, 207, 207, 0.3);
    text-align: center;
}
.main, #news {
    text-align: center;
}
.main {
    padding: 40px 0 20px;
}
#main p {
    width: 65%;
    display: inline-block;
    padding: 20px;
    line-height: 1.8;
    text-indent: 1rem;
    text-align: left;
}

#news {
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
}
#news .news-list {
    list-style-type: none;
    max-width: 800px;
    width: 80%;
    padding: 10px;
    line-height: 1.5;
    text-align: left;
}
#news li:hover {
    background: #d4efda;
}
#news li a{
    display: block;
    border-bottom: 1px dotted #000;
    padding: 15px 0;
    color: #000;
    line-height: 2;
    text-decoration: none;
    position: relative;
}
#news li a::after {
    content: "\02192";
    position:absolute;
    right: 5%;
    top: 50%;
    font-weight: bold;
    transform: translate(0, -50%);
    transition: 0.5s;
}
#news li a:hover::after {
    transform: translate(100%, -50%);
}
#news li a .indent, #news .news-flex .news, #news .news1 {
    display: inline-block;
}
#news li a .indent {
    margin-right: 1rem;
}
#news .news1 {
    margin: 0 1rem;
    font-size: 0.8rem;
    color: #fff;
    width: 4rem;
    text-align: center;
}
#news .information {
    background: #f76801;
}
#news .closed {
    background: #ff00f7;
}
#news .event {
    background: #07f;
}
.br {
    display: inline-block;

}
.catch {
    text-align: center;
    padding: 50px;
    background-color: rgba(213, 207, 207, 0.3);
}
.introduction {
    display: flex;
    justify-content: center;
    
}
.flex-item {
    margin: 0 5%;
    position: relative;
    width: 30%;
    max-width: 400px;
    height: 400px;
}
.link {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
}
/*画像ズーム*/
.learn::before, .course::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    transition: 0.5s;
}
.learn::before {
    background: url(../img/photo/wasitsu.jpg);
    background-size: cover;
    background-position: 50% 40%;
}
.course::before {
    background: url(../img/photo/course.jpg);
    background-size: cover;
    background-position: 50% 100%;
}
.learn:hover::before, .course:hover::before {
    transform: scale(1.1, 1.1);
}
/*背景色変化*/
.link .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    background: #37b480;
    color: #000;
    transition: 0.5s;
}
.link:hover .title {
    border-radius: 0;
    color: #fff;
    background:#38a45f;
}
/*矢印移動*/
.link .title::after {
    content: "\02192";
    position:absolute;
    right: 5%;
    top: 50%;
    font-size: 20px;
    font-weight: bold;
    font-weight: bold;
    transform: translate(0, -50%);
    transition:  0.5s;
}
.link:hover .title::after {
    color: #fff;
    transform: translate(30%, -50%);
}
/*サイトマップ*/
#sitemap {
    margin-bottom: 30px;
    padding: 20px ;
    background: #d4efda;
}
#sitemap a{
    padding: 5px 0; 
}
#sitemap h2{
    padding: 20px;
}
#sitemap .menu {
    background: none;
}
#sitemap .menu li {
    width: 18%;
    border: none;
}
#sitemap .menu li::after {
    display: none;
}
.sitemap {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;  
}

.sitemap .sub-menu {
    width: 18%;
    list-style: none;
    text-align: center;
}
#sitemap .menu li, .sitemap .sub-menu li{
    border-bottom: 2px solid #000;
    color: #000;  
}
.sitemap .sub-menu li {
    padding-top: 10px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    text-align: left;

}
#sitemap .menu li:hover, .sitemap .sub-menu li:hover {
    background-color: #03af00;
}
.sitemap .sub-menu a {
    width: 100%;
    display: block;
    text-indent: 0.5rem;
    color: #000;  
}
#sitemap .menu a:hover, .sitemap .sub-menu a:hover {
    color: #fff;
}
/*footer*/
.footer .rogo, .footer .head2, .footer .icon {
    width: 25%;
}
.footer .head3 {
    align-items: center;
}
.footer-flex {
    width: 57.5%;
    justify-content: space-between;
    align-items: center;
}
.icon p {
    height: 60px;
}
.icon-facebook {
    padding-bottom: 10px;
}
/*Topへ戻るボタン*/
.top-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #38a45f;
    opacity: 0.2;
    transition: 0.5s opacity ;  
}
.top-page a {
    font-size: 1rem;
}
.top-page:hover {
   opacity: 1;
   background: #38a45f;
}
.top-page:hover a {
    color: #fff;
}
/*アイコンフォント*/
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?1eiqnp');
    src:  url('fonts/icomoon.eot?1eiqnp#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?1eiqnp') format('truetype'),
      url('fonts/icomoon.woff?1eiqnp') format('woff'),
      url('fonts/icomoon.svg?1eiqnp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-facebook:before {
    content: "\ea90";
  }
.icon .icon-facebook:before {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-top: 0;
    border-radius: 50%;
    color: #fff;
    background-color: #004aad;
    font-size: 30px;
  }
  /*レスポンシブ対応*/
/*ハンバーガーメニュー*/
#menu-btn-check, .hamburger-menu {
    display: none;
}
/*レスポンシブ用ボタン*/
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: 1rem;
    height: 45px;
    width: 45px;
    z-index: 90;
    background-color: #000;
    display: none;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    top: 8px;
}
.menu-btn span:after {
   bottom: 8px;
}
.menu-btn:hover {
    cursor: pointer;
}
#menu-btn-check:checked ~ .menu-btn {
    background-color: rgba(0, 0, 0, 0);
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span:before {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check:checked ~ .menu-btn span:after {
    bottom: 0;
    transform: rotate(45deg);
}
.hamburger-menu {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 180px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translate(0, -101%);
    transition: all 0.5s;
}
#menu-btn-check:checked ~ .hamburger-menu {
    transform: translate(0, 0);
}
.hamburger-menu ul {
    padding: 55px 10px 20px;
}
.hamburger-menu ul li {
    margin: 0 auto;
    width: 95%;
    border-bottom: 2px solid #fff;
    padding: 5px 5px 3px;
    list-style: none;
    margin-top: 1rem;
}  
.hamburger-menu ul li a {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    color: #fff;
} 
.hamburger-menu ul li a:hover {
    color:#04c701;  
    text-decoration: none;  
}
.sub-menu a {
    display:flex;
    flex-wrap: wrap;
    }

@media screen and (max-width: 1200px) {
    #news .news-list{
        width: 100%;
    }
    .top-message {
        font-size: 55px;
    }

    .flex-item {
        width: 40%;
    }
    #sitemap span{
        display: inline-block;
    }
    #bigimg {
        object-position: 50% 35%;
    }
}
@media screen and (max-width: 900px) {
    .go-sitemap, #nav, #sitemap, #news li a::after, .link .title::after {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
    #search {
        margin-left: 0.5rem;
        width: 90%;
    }
    .message {
        width: 100%;
    }
    #sitemap {
        display: none;
    }
    .pankuzu {
        display: none;
    }
    main {
        margin: 90px auto 20px;
        padding: 10px;
    }
} 
@media screen and (max-width: 690px) {
    h1 {
         font-size: 45px;
         line-height: 1.3;
    }
    h2 {
        font-size: 30px;
    }
    h2 span {
        display: block;
    }
    .font-size {
        display: none;
    }
    .catch {
        padding-left: 10px;
        padding-right: 10px;
    }
    .introduction {
        display: block;
    }
    .flex-item {
        width: 100%;
        margin: 50px auto;
    }
    .menu-btn {
        top: 8px;
    }
    main {
        margin: 60px auto 20px;
    }
    #bigimg {
        height: 50vh;
        object-position: 50% 20%;
    }
    .top-message {
        position: absolute;
        left: 37%;
        top: 55%;
        transform: translate(-50%, -50%);  
        text-align: center;
     }
     #search {
        width: 100%;
     }
     #main p {
        width: 100%;
     }
     #main, #news, .catch, .introduction {
        margin: 50px auto;
    }
     #news {
        padding-left: 10px;
        padding-right: 10px;
     }
    #news .news-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .footer {
       
        flex-direction: column;
    }
    .footer-flex {
        width: 100%;
        margin-top: 50px;
        justify-content: space-around;
        align-items: center;
        order: 1;

    }
    .footer-flex .rogo {
        align-items: center;
    }
    .footer-flex .head2 {
        flex-direction: row;
        width: 60%;
    }
    .footer-flex .head2 p img {
        vertical-align: middle;
        transform: scale(1.2, 2.5);
    }
    .footer-flex .head3 { 
        margin-bottom: 0;
        margin-right: 1.6rem;
    }
    .footer-flex .head3 p img {
        transform: scale(1.2, 3);
    }
    .mail {
        margin-left: 0.5rem;
        transform: scaleX(1.2)
    }
    .footer .icon {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .top-page {
        position: static;
    }
}
@media screen and (max-width: 300px) {
    body {
        margin: 0;
    }
    #search {
        display: none;
    }
    .top-message {
        width: 100%;
        left: 50%;
        top: 50%;
    } 
    h2 {
        font-size: 25px;
    }
    #news .news-flex .news {
        text-align: center;
    }
}